/*ALL PAGES*/
/*containers*/
body{
	margin: 0;
	background-image: url("beachimages/concerto.png");
	background-size: cover;
}
ul{
	list-style-type: none;
	text-align: center;
	margin-left: -40px;
	margin-top: -25px;
}
li{
	font-family: Optima;
	text-shadow: 1px 1px black;
	background-color: rgba(140, 21, 21, .9);
	border: 5px solid black;
	border-radius: 25px;
}
li, a{
	display: inline;
	padding: 15px;
	text-decoration: none;
	color: white;
	font-size: 125%;
}
li:hover{
	background-color: black;
	transition: 1s;
}
footer{
	background-color: rgba(140, 21, 21, .9);
	margin-bottom: 20px;
	border-radius: 25px;
	border: 5px solid black;
	margin-top: 30px;
}
/*text*/
h1{
	background-color: rgba(140, 21, 21, .9);
	font-family: Optima;
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
	margin-top: 0;
	font-size: 400%;
	padding: 15px;
	border: 5px solid black;
	border-radius: 25px;
}
p.footer{
	font-family: Arial;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 75%;
	margin-left: 30px;
	padding: 5px;
}
/*images*/
img{
	width: 300px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 25px;
}

/*MULTIPLE PAGES*/
/*containers*/
/*text*/
/*images*/

/*HOME*/
/*containers*/
/*text*/
p.mid{
	background-color: rgba(140, 21, 21, .9);
	font-family: Optima;
	text-align: center;
	color: white;
	border: 5px solid black;
	border-radius: 25px;
	text-shadow: 1px 1px black;
	font-size: 200%;
	padding: 15px;
	margin-right: 15%;
	margin-left: 15%;
}
	
/*images*/

/*BIO*/
/*containers*/
div{
	margin-top: 30px;
	background-color: rgba(140, 21, 21, .9);
	font-family: Georgia;
	color: white;
	border: 5px solid black;
	border-radius: 25px;
	text-shadow: 1px 1px black;
	padding: 15px;
	margin-right: 15%;
	margin-left: 15%;
}
/*text*/
p.top{
	text-align: center;
	font-size: 125%;
}
/*images*/

/*WORKS*/
/*containers*/
th, tr, td{
	font-family: Georgia;
	text-align: center;
	color: white;
	padding: 15px;
	border: 3px solid black;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	margin-bottom: 25px;
	border: 10px solid black;
	border-collapse: collapse;
	border-radius: 25px;
	margin-top: 30px;
	background-color: rgba(140, 21, 21, .9);
}
td.perf{
	text-align: center;
}
td.perf:hover{
	background-color: black;
	transition: 1s;
}
/*text*/
/*images*/

/*DONATE*/
/*containers*/
/*text*/
h2{
	background-color: rgba(140, 21, 21, .9);
	font-family: Optima;
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 200%;
	padding: 15px;
	border: 5px solid black;
	border-radius: 25px;
	margin-left: 25%;
	margin-right: 25%;
}
/*images*/

